@model FullStackPhoneBook.EndPoints.MVC.Models.Phones.PhoneAddModel

@{
    ViewBag.Title = "Add Phone";
}

<form asp-action="AddPhone" asp-controller="People" method="post">
    <label> add phone for <b>@Model.person.FirstName @Model.person.LastName</b>: </label>

    <div class="form-group col-3">
        <label asp-for="@Model.phone.PhoneNumber"></label>
        <input type="text" asp-for="@Model.phone.PhoneNumber" class="form-control" maxlength="50">
        <span asp-validation-for="@Model.phone.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group col-3">
        <label asp-for="@Model.phone.PhoneType"></label>
        <select asp-for="@Model.phone.PhoneType"
                class="form-control"
                asp-items="Html.GetEnumSelectList<FullStackPhoneBook.Domain.Core.Phones.PhoneType>
                    ()">
        </select>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-3">
        <input type="submit" class="text-lg font-weight-bold btn btn-info m-2 p-2 float-right" value="Save" />
    </div>
</form>

<div class="form-group col-3">
    <a class="btn btn-secondary   float-right" style="padding:8px;margin-top:9px;" asp-action="Detail" asp-controller="People" asp-route-id="@Model.person.Id">
        <span class="font-weight-bold text-lg">Back</span>
    </a>
</div>