@model List<AppUser>
@{
    ViewData["Title"] = "User Page";
}



<table class="table table-bordered table-dark table-striped">
    <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @if (Model?.Any() == true)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName  @item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-info btn-icon-split" asp-action="Update" asp-controller="User" asp-route-id="@item.Id">
                        <span class="font-weight-bold m-1 text-gray-100">Edit</span>
                    </a>

                    |

                    <a class="btn btn-info btn-icon-split" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id">
                        <span class="font-weight-bold m-1 text-gray-100">Delete</span>
                    </a>

                    |

                    <a class="btn btn-info btn-icon-split" asp-action="AddToRole" asp-controller="User" asp-route-id="@item.Id">
                        <span class="font-weight-bold m-1 text-gray-100">Add Role</span>
                    </a>
                </td>

            </tr>
        }
    }
    else
    {
        <tr><td colspan="2">no user</td></tr>
    }
</table>


<div class="row justify-content-end">
    <div class="col-2">
        <a class="btn btn-info btn-icon-split" asp-action="Create" asp-controller="User">
            <span class="text-lg p-2 font-weight-bold m-2 text-gray-100">Add User</span>
        </a>
    </div>
</div>




